doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 #{title}
        :markdown
            See [http://trammy.heroku.com/stop/1211](http://trammy.heroku.com/stop/1211) for JSON response that will be used.